# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# The dist folder for transpiled es6
dist

# The build folder for the AWS Lambda build
build

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Local config variables
.env

# Remote configurations
.dev.env
.prod.env
