@import "normalize";
@import "../fonts/Overpass-Bold";

.title {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: #444;
  text-align: center;

  strong {
    font-size: 6rem;
    color: #61dafb;
  }
}
