@import "normalize";
@import "overpass";

body {
  font-family: 'Overpass', sans-serif;
  color: #444;
}

.title {
  font-weight: bold;
  font-size: 4em;
  text-align: center;

  strong {
    font-size: 6rem;
    color: #61dafb;
  }
}
